body {
	font-family: arial;
}

#overlay {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#overlay div {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -32px;
	margin-left: -32px;
}

.poll-content-outer {
	background-color: #F0F0F0;
	border-radius: 4px;
	padding: 20px;
	max-width: 350px;
	min-height: 200px;
}

.question {
	padding: 10px 0px 0px 0px;
}

.radio-input {
	margin: 0px 10px 0px 10px;
}

#btnSubmit {
	background-color: #333;
	color: #ffffff;
	border-radius: 3px;
	border: 1px solid #000;
	display: inline-block;
	padding: 10px 40px;
	cursor: pointer;
}

.next-link {
	float: right;
	background-color: #226ea0;
	color: #ffffff;
	border-radius: 3px;
	border: 1px solid #20628e;
	display: inline-block;
	padding: 10px 40px;
	cursor: pointer;
}

.error {
	text-align: center;
	padding: 50px;
	color: #cc5353;
}

.poll-bottom {
	margin-top: 20px;
}

.poll-heading {
	text-transform: uppercase;
    background: #CCC;
    padding: 5px;
    margin-bottom: 10px;
}

.answer-rating {
    margin-bottom: 5px;
}
.answer-text {
    text-transform: uppercase;
    background: #73b2dc;
    padding: 5px;
    font-size: 0.8em;
    width: 120px;
    display: inline-block;
}
.answer-count {
	text-transform: uppercase;
    background: #FFF;
    padding: 5px;
    font-size: 0.8em;
    width: 50px;
    display: inline-block;
}